/* src/pages/shared/Header.css */

.header {
  background-color: #212D63;
  padding: 10px 20px;
  height: 115px; /* Adjust this height as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  height: 44px;
}

.header .title {
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 10px;
}

.header .user-info {
  display: flex;
  align-items: center;
}

.header .user-info img {
  height: 39px;
}

.header .user-info .email,
.header .user-info .logout {
  color: #FFF;
  margin-left: 10px;
}
