.header {
  justify-content: space-between;
  align-items: center;
  background-color: var(--Ocean-3, #212D63);
  padding: 10px 20px;
  height: 120px;
}

.header-title {
  color: var(--White, #FFF);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 10px;
}

.header-email {
  color: var(--White, #FFF);
  margin-left: 10px;
}

.header-logout {
  color: var(--White, #FFF);
  margin-left: 10px;
}