.users-page {
    padding: 20px;
  }
  
  .page-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 55px; /* Adjusted margin-left to move it to the left */
  }
  
  .new-user-button {
    background-color: #FFF;
    color: #212D63;
    font-weight: bold;
    margin-top: -10px; /* Adjusted margin-top */
    margin-right: 55px; /* Adjusted margin-right to move it to the left */
  }
  
  .user-info {
    color: white;
    margin-left: 20px;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  