.table-container {
  width: 100%; /* Ensure the table takes the full width */
  margin: 20px 0; /* Adjust the margins as needed */
}

.table-buttons {
  background-color: #294285;
  color: white;
  border-radius: 100px;
}

th, td {
  border-color: #294285 !important;
}
